.App {
  text-align: left;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 50px;
}

.left-column,
.middle-column,
.right-column {
  margin: 0 10px;
}

.left-column {
  flex: 1;
}

.middle-column {
  flex: 3;
}

.right-column {
  flex: 2;
}
